/*public/css/App.css*/
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBMPlexMono'), url(../fonts/IBMPlexMono-Regular.woff2) format('woff2');
}

body {
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  -webkit-font-smoothing: antialiased;
  font-family: 'IBM Plex Mono';
  color: #231f20;
  font-variant-numeric: oldstyle-nums;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px;
  border: 1px solid #231f20;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Modal {
   position: relative;
   top: 250px;
   left: 400px;
   right: 20px;
   bottom: 20px;
   background-color: #F5F5F5;
   width:500px;
   border: 1px solid #000;
   border-radius: 4px;
   padding: 20px;
}
