<!-- public/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EPHI</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/App.css"></link>
  </head>
  <body>
    
    <header>
      <h1>Earthly Possessions & Heavenly Information </h1>
    </header>
   
    <div id="root"></div>

  </body>
  <script src="./bundle.js"></script>
</html>
